body {
  background: #121212;
  color: #D1D1D1;
}

/* Títulos */
h1 {
  font-family: 'Jost', sans-serif;
  color: #FFFFFF;
}

/* Pantalla inicial */

/* Mande logo */
.mande_logo {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  color: #FFFFFF;
}

.campo_oscuro {
  box-sizing: border-box;
  width: 293px;
  height: 49px;
  background: #161B22;
  border: 1px solid #161B22;
  border-radius: 10px;
  font-family: 'Jost', sans-serif;
  padding: 20px;
  font-style: normal;
  font-size: 15px;
  color: #D1D1D1;
}

/* Color del texto que contiene el campo*/
.campo_oscuro::placeholder {
  color: #D1D1D1;
}

.boton_iniciar_sesion {
  box-sizing: border-box;
  width: 293px;
  height: 49px;
  background: #9E34F9;
  border: 1px solid #9E34F9;
  border-radius: 10px;
  cursor: pointer;

  /* Texto adentro del botón */
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  color: #FFFFFF;
}

.no_tienes_una_cuenta {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
}

.registrate {
  margin-left: 60px;
  background: none;
  border: none;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  color: #F05E7D;
}

/* Pantalla registro general */
/* Título */
.registrate_tiulo {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  color: #FFFFFF;
}

.registrate_parrafos {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
}

.boton_redondeado_rosa {
  box-sizing: border-box;
  width: 283px;
  height: 49px;
  background: #DC44BF;
  border: none;
  border-radius: 40px;
  cursor: pointer;

  /* Texto adentro del botón */
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}

.boton_redondeado_lila {
  box-sizing: border-box;
  width: 283px;
  height: 49px;
  background: #9E34F9;
  border: none;
  border-radius: 40px;
  cursor: pointer;

  /* Texto adentro del botón */
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}

.flecha_volver{
  position: absolute;
  left: 520px;
}

