doctype html
//
  /*
  *	Pantalla incial
  *
  */
html(lang='es')
  head
    meta(name='viewport', content='width=device-width', charset='utf-8')
    title mnd:)
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Jost&display=swap', rel='stylesheet')
  body
    br
    br
    br
    br
    h1.mande_logo(title='Bienvenido a Mande', align='center')
      | mnd
      font(size='4') :)
    br
    br
    br
    br
    form(align='center', method='POST', action='http://localhost:3000/')
      input#celular.campo_oscuro(name='celular', type='tel', minlength='10', maxlength='10', placeholder='Celular', required='')
      br
      br
      input#contrasena.campo_oscuro(name='contrasena', type='password', placeholder='Contraseña', required='')
      br
      br
      br
      br
      input#boton_iniciar_sesion.boton_iniciar_sesion(title='Iniciar sesión', type='submit', value='Iniciar sesión')
      br
      br
      span#error_parrafo.error_texto
      br
      br
      span.no_tienes_una_cuenta
        | &iquest;No tienes cuenta?&nbsp;
        a(href='registro')
          button.registrate(type='button', title='Regístrate')
            div Reg&iacute;strate    

            