html(lang='es')
  head
    meta(http-equiv='content-type', content='text/html', charset='utf-8')
    | &#x9;
    title iniciar_sesi_n_usuario
    // Importa las fuentes desde Google Fonts
    link(rel='stylesheet', href='/stylesheets/style.css')
    | &#x9;
    link(rel='preconnect', href='https://fonts.googleapis.com')
    | &#x9;
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    | &#x9;
    link(href='https://fonts.googleapis.com/css2?family=Jost&display=swap', rel='stylesheet')
    // Add your custom HEAD content here
  body
    h1.info_usuario
      | Cargando informacion usuario
      a(href='inicio_usuario')
        img.imagen_salida(title='Volver', src='/images/imagen_salida.png')
    | &#x9;
    br
    br
    | &#x9;
    h2.direccion_usuario
      | Cargando direccion usuario
    | &#x9;
    br
    br
    | &#x9;
    div(align='center')
      p.recuadro_naranja Servicios
      | &#x9;&#x9;
      br
      br
      | &#x9;&#x9;
      .izq
        p.servicios_rectangulo
          a(href='solicitar_servicio')
            img.imagen_servicio(src='/images/_image_7.png')
          | &#x9;&#x9;&#x9;&#x9;
          br
          br
          | &#x9;&#x9;&#x9;&#x9;
          br
          br
          | &#x9;&#x9;&#x9;&#x9;
          span Jardineria
        | &#x9;&#x9;&#x9;
        .der
          p.servicios_rectangulo
            a(href='solicitar_servicio')
              img.imagen_servicio(src='/images/image_12.png')
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            br
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            br
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            span Peluqueria
      | &#x9;&#x9;
      br
      br
      | &#x9;&#x9;
      br
      br
      | &#x9;&#x9;
      br
      br
      | &#x9;&#x9;
      br
      br
      | &#x9;&#x9;
      .izq
        p.servicios_rectangulo
          a(href='solicitar_servicio')
            img.imagen_servicio(src='/images/image_10.png')
          | &#x9;&#x9;&#x9;&#x9;
          br
          br
          | &#x9;&#x9;&#x9;&#x9;
          br
          br
          | &#x9;&#x9;&#x9;&#x9;
          span Clases de baile
        | &#x9;&#x9;&#x9;
        .der
          p.servicios_rectangulo
            a(href='solicitar_servicio')
              img.imagen_servicio(src='/images/image_8.png')
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            br
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            br
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            span Cocina
      | &#x9;&#x9;
      br
      br
      | &#x9;&#x9;
      br
      br
      | &#x9;&#x9;
      br
      br
      | &#x9;&#x9;
      br
      br
      | &#x9;&#x9;
      .izq
        p.servicios_rectangulo
          a(href='solicitar_servicio')
            img.imagen_servicio(src='/images/image_13.png')
          | &#x9;&#x9;&#x9;&#x9;
          br
          br
          | &#x9;&#x9;&#x9;&#x9;
          br
          br
          | &#x9;&#x9;&#x9;&#x9;
          span Clases de piano
        | &#x9;&#x9;&#x9;
        .der
          p.servicios_rectangulo
            a(href='solicitar_servicio')
              img.imagen_servicio(src='/images/image_11.png')
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            br
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            br
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            span Sistemas
      | &#x9;&#x9;
      br
      br
      | &#x9;&#x9;
      br
      br
      | &#x9;&#x9;
      br
      br
      | &#x9;&#x9;
      p.barra_inferior
        a(href='inicio_usuario')
          img.imagen_home(title='Volver', src='/images/imagen_home.png')
        | &#x9;&#x9;&#x9;
        a(href='pesta_a_historial_servicios')
          img.imagen_option(title='Volver', src='/images/imagen_option.png')