doctype html
//
  /*
  *  Pantalla de registro de un usuario.
  *
  */
html(lang='es')
  head
    meta(name='viewport', content='width=device-width', charset='utf-8')
    title mnd:)
    // Importa las fuentes desde Google Fonts
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Jost&display=swap', rel='stylesheet')
  body
    br
    br
    br
    br
    h1.registrate_tiulo(align='center')
      | Reg&iacute;strate
    br
    br
    div(align='center')
      span.registrate_parrafos
        form(method='post', action='http://localhost:3000/registro_usuario')
          input#nombre.campo_claro(name='nombre', type='text', placeholder='Nombre', required='')
          br
          br
          input#apellido.campo_claro(name='apellido', type='text', placeholder='Apellido', required='')
          br
          br
          input#celular.campo_claro(name='celular', type='text', placeholder='Celular', minlength='10', maxlength='10', pattern='[0-9]{10}', required='')
          br
          br
          input#direccion.campo_claro(name='direccion', type='text', placeholder='Dirección', required='')
          br
          br
          input#cedula.campo_claro(name='cedula', type='tel', placeholder='Cédula', minlength='7', maxlength='10', pattern='[0-9]{7,10}', required='')
          br
          br
          input#correo.campo_claro(name='correo', type='email', placeholder='Correo electrónico', required='')
          br
          br
          p
            | Necesitamos validar tu lugar de residencia.
          br
          .boton_rojo
            label(for='foto_recibo') Foto de un recibo de servicios p&uacute;blicos
            br
            input#foto_recibo.boton_rojo_input(type='file', accept='image/*', name='foto_recibo', required='')
          br
          br
          label(for='tipo')
            | Ingresa el medio de pago con el que
            br
            | pagar&aacute;s tus servicios:
          br
          br
          input#tarjeta.campo_claro(name='tarjeta', type='text', placeholder='Número de tarjeta', minlength='5', maxlength='10', pattern='[0-9]{5,10}', required='')
          br
          br
          select#tipo.boton_seleccionar(name='tipo', required='')
            option(value='1') D&eacute;bito
            option(value='2') Cr&eacute;dito
          br
          br
          p Por &uacute;ltimo, crea una contrase&ntilde;a segura:
          br
          input#contrasena.campo_claro(name='contrasena', type='password', placeholder='Contraseña', minlength='8', required='')
          br
          br
          input#contrasena_confirmacion.campo_claro(name='contrasena_confirmacion', type='password', placeholder='Confirmar contraseña', minlength='8', required='')
          br
          br
          br
          br
          input.boton_registrarme(type='submit', title='Registrarme', value='Registrarme')
          br
          br
          span#error_parrafo.error_texto #{error}
          br
          br
          a(href='registro')
            img.flecha_volver(title='Volver', src='/images/flechaVolver.png')
          br
          br
          br
          br