doctype html
//
  /*
  *  Pantalla registro trabajador 2.
  *
  */
html(lang='es')
  head
    meta(name='viewport', content='width=device-width', charset='utf-8')
    title mnd:)
    // Importa las fuentes desde Google Fonts
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Jost&display=swap', rel='stylesheet')
  body
    br
    br
    br
    br
    h1.registrate_tiulo(align='center')
      | Reg&iacute;strate
    br
    br
    div(align='center')
      span.registrate_parrafos
        p
          | Necesitamos validar tu identidad.
          br
                        Procura tomar las fotograf&iacute;as lo m&aacute;s legible posible:
        br
        br
        form(method='post', enctype='multipart/form-data')
          .boton_rojo
            label(for='foto_cedula') Foto de tu c&eacute;dula
            br
            input#foto_cedula.boton_rojo_input(type='file', accept='image/*', name='cedula', required='')
          br
          br
          .boton_rojo
            label(for='foto_rostro') Foto de tu rostro
            br
            input#foto_rostro.boton_rojo_input(type='file', accept='image/*', name='rostro', required='')
          br
          br
          label(for='labores')
            | A&ntilde;ade una labor para empezar a recibir
            br
            | solicitudes de servicios.
          br
          br
          select#labores.boton_seleccionar(name='labor', required='')
            option(value='1') Jardiner&iacute;a
            option(value='2') Peluquer&iacute;a
            option(value='3') Clases de baile
            option(value='4') Cocina
            option(value='5') Clases de piano
            option(value='6') Sistemas
          br
          br
          p
            | &iquest;Eres experto en m&aacute;s labores?
            br
            | No te preocupes, luego podr&aacute;s a&ntilde;adir m&aacute;s.
          br
          br
          a(href='javascript:history.back()')
            img.flecha_volver(title='Volver', src='/images/flechaVolver.png')
          a(href='registro_trabajador3', type='submit')
            input.flecha_Avanzar(type='image', title='Siguiente', src='/images/flechaVolver.png')
          br
          br
          br
          br